.fakepin_logo{
    font-family: 'Lobster', cursive;
}

.fakepin_footer_button{
    font-size: .9rem;
}

.fakepin_footer{
    text-align: center;
    margin-top: 2rem;
}

.fakepin_header{
    text-align: center;
    margin: 2rem 0;
}

/* 모바일에서 500px 이하일 때 */
@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    /*text-decoration: none!important;*/
}

.fakepin_header_nav{
    margin: 0 0.5rem;
}

.fakepin_header_navbar{
    margin: 1rem 0;
}